<div class="container">
	<div class="row mb-3">
		<div class="col">
			<%= link_to "小説一覧に戻る", novels_path, class: "h5 text-info" %>
		</div>
	</div>
	<h2 class="display-5 border-bottom border-info mb-5"><%= @novels.title %>の目次</h2>
	<%= render partial: 'story_card', locals: { story: @first } %>
</div>