<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">小説の書き方</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        このページでは、小説の第１話を書き、新しいリレー小説を作成することができます。<br><br>
        ペンネーム<span class="text-danger">(必須)</span> …お話ごとにつけるものです。<br><br>
        タイトル<span class="text-danger">(必須)</span>…小説全体のタイトルです。<br><br>
        サブタイトル<span class="text-danger">(必須)</span>…お話ごとにつけるものです。<br><br>
        本文<span class="text-danger">(必須)</span>…4000文字まで書くことができます。<br><br>
        ジャンル<span class="text-danger">(必須)</span>…小説全体のジャンルです。<br><br>
        小説全体の設定構想<span class="text-info">(任意)</span>…次のお話の作者のために、大まかな設定を書いておくことができます。<br><br>
        完結までの話数<span class="text-danger">(必須)</span>…小説が完結するまでの話数を2～10話までの間で決めることができます。<br><br>
        あとがき<span class="text-info">(任意)</span>…お話の最後に表示される、読者や次のお話の作者に向けたコメントを書くことができます。<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>