<div class="container">
    <h1 class="display-5 text-center">小説を書く</h1>
    <div class="row">
        <div class="col">
            <%= link_to '第１話を書く', new_story_path, class: "btn btn-info btn-lg btn-block" %>
        </div>
        <div class="col">
            <%= link_to '続きから書く', new_story_path, class: "btn btn-info btn-lg btn-block" %>
        </div>
    </div>
    <div class="row-center mt-5 mb-3">
        <div class="card">
            <div class="card-header">
                <h2 class="display-5 text-center">書いた小説一覧</h2>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>

    <%= link_to 'プロフィールを変更する', edit_user_registration_path, class: "btn btn-outline-info btn-lg" %>
</div>